{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue",
    "stylelint-config-prettier"
  ],
  "plugins": ["stylelint-scss"],
  "rules": {
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ]
  }
}
