.image-placeholder {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 300px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px auto;

  input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.image-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.image-file + label {
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  width: 250px;
}

.no-js .image-file + label {
  display: none;
}

.image-file:focus + label,
.image-file.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

// .image-file + label * {
//   /* pointer-events: none; */
//   /* in case of FastClick lib use */
// }

.image-file + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.image-file + label {
  margin-bottom: 50px;
  background: white;
}

.input-fields {
  label {
    display: block;
  }
}

section.images {
  display: flex;

  > div {
    margin-right: 10px;
  }
}

.image {
  max-height: 200px;
}

.field-body {
  margin-bottom: 10px;
}
section {
  overflow: hidden;
}
.upload-form {
  padding: 20px;
  margin-bottom: 20px;
}
